$white: #FFFFF0;
$dkgreen: #2BB24C;
$ltgreen: #3DFF6D;
$red: #B2222B;
$grey: #DCDCDC;


* {
  box-sizing: border-box;
}


html{
<<<<<<< HEAD
  height: 100%;
=======
  height: auto;
>>>>>>> refs/remotes/origin/master
  min-height: 100%;
  background: #eeeeee;
}

body {
  font-family: 'Signika', sans-serif;
  height: 100%;
  min-height: 100%;
}

.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #000;
}

a {
  text-decoration: none;
}

h1{
  padding: 0;
  margin: 0;
}


/* ==============
    Header & Nav
   ============== */
header{
    background-color: #000;
    color: white;
}

.logo{
  display: inline-block;
  float: left;
  padding: .2em 0 0 .5em;
  color: $dkgreen;
}

nav a:hover{
  color: $ltgreen;
}

nav li{
  font-weight: 600;
  text-align: center;
}


/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

.nav-collapse li {
  float: left;
  width: 100%;
}

.nav-collapse a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #000;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left;
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    display: inline-block;
    float: left;
    width: auto;
  }

  .nav-collapse{
    width: auto;
    display: inline-block;
    float: right;
  }

  .nav-collapse ul {
    display: inline-block;
    width: auto;
    float: right;
  }

  .nav-collapse a {
    width: auto;
    margin: 0;
    padding: 1em;
    float: left;
    text-align: center;
    border-bottom: 0;
  }

}




/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;

}

.nav-toggle:before {
  color: $dkgreen; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 5px;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}



/* ==============
    Main Section
   ============== */

.main-container{
      color: #fff;
      >p{
        width: 100%;
        margin: 1em auto 0;
        padding: 5px 0;
        text-align: center;
        font-size: 1.4em;
        color: #000;
        border: 1px solid #fff;
        border-left: none;
        border-right: none;
        background: $dkgreen;
      }
}

.main {
    height: 15em;
    background: #eee;
    background-image: url('../img/outdoor-units.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   @media screen and (min-width: 40em) {
      height: 30em;
    }
}

.main-header1,
.main-header2,
.main-header3{
  text-align: center;
  color: #000;
  line-height: 1em;
  font-weight: 600;
  text-shadow: 2px 2px 2px $dkgreen;

}

.main-header1{
  padding-top: 6em;
  font-size: 1.2em;
  @media screen and (min-width: 40em) {
    padding-top: 6.5em;
    font-size: 2.2em;
  }
}

.main-header2{
  font-size: 1.3em;
  @media screen and (min-width: 40em) {
    font-size: 2.5em;
  }
}

.main-header3{
  font-size: 1.4em;
  @media screen and (min-width: 40em) {
    font-size: 3em;
  }
}



/* ==============
    Doors Section
   ============== */

.doors-container {
    padding: .5em 0;
    background: #000;
    @media screen and (min-width: 40em) {
      padding: 2em 0 0;
    }
    ul {
        margin: 0;
        padding: 0 5%;
        list-style-type: none;
        @media screen and (min-width: 40em) {
              padding: 0;
            }
        li{
            width: 100%;
            height: 15em;
            margin: 4em 0; 
            padding: 0;           
            text-align: center;
            border-radius: 10px;
            a{
              display: block;
              height: 100%;
              padding-top: 6em;
              h1{
                padding: 0;
                margin: 0;
                color: $white;
                font-size: 1.5em;
                font-weight: bold;
                text-shadow: 0.1em 0.1em 0.1em #000;
              }              
            }
            p{
              color: #fff;
              margin: 0;
              padding: 0;
            }
            @media screen and (min-width: 40em) {
              display: inline-block;
              width: 45%;
              margin: 0 2% 3em 2%;
            }
            @media screen and (min-width: 60em) {
              width: 22.5%;
              margin: 0 1% 2em 1%;
            }
        }
    }
}



.doors-auction-bloc{
  background: url('../img/Doors/BlueDoor.jpg') right no-repeat;
  background-size: cover;    
 
}

.doors-calendar-bloc{
  background: url('../img/Doors/OrangeDoor2.jpg') right no-repeat;
  background-size: cover; 
 
}
.doors-about-bloc{
  background: url('../img/Doors/RedDoor.jpg') right no-repeat;
  background-size: cover; 
  
}
.doors-uhaul-bloc{
  background: url('../img/Doors/GreenDoor.jpg') right no-repeat;
  background-size: cover; 
}


/* ==============
    FOOTER Section
   ============== */

footer{
  width: 100%;
  max-width: 1200px;
  height: auto;
<<<<<<< HEAD
  position: absolute;
  bottom: 0;
  padding: .7rem 0;
  background: #000;

  ul {
=======
  padding: .7rem 0;
  margin: 0;
  background: #000;

  ul {
    padding: 0;
>>>>>>> refs/remotes/origin/master
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    color: #fff;          
<<<<<<< HEAD
    font-size: 1.1em;
=======
    font-size: 1rem;
>>>>>>> refs/remotes/origin/master
    font-weight: 300;
    @media screen and (min-width: 40em) {
        }
    li{
      display: inline-block;
        margin: 0; 
<<<<<<< HEAD
        padding: 0;    
        letter-spacing: 1.5px;
=======
        padding: 0 1.5rem;    
        letter-spacing: 1.5px;
        @media screen and (max-width: 560px) {
          display: block;
          text-align: center;
          font-size: 1.5rem
        }
>>>>>>> refs/remotes/origin/master
      }
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.active>a{
  color: $ltgreen;
}


/* ==========================================================================
   Auction Page
   ========================================================================== */

.auction-container{
  width: 960px;
  margin: 2rem auto;
  background: $white;
  padding: 0 0 4rem;
<<<<<<< HEAD
=======
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
>>>>>>> refs/remotes/origin/master
  h1{
    padding: 2rem 0 0 1rem;
    color: $dkgreen;
    font-size: 2rem;
<<<<<<< HEAD
=======
    text-align: center;
>>>>>>> refs/remotes/origin/master
  }
}

.auctions{
  margin-top: 3rem;
  padding: 0 2rem 0 2rem;
}


<<<<<<< HEAD
.auction-listings{
  width: 100%;
=======
.auction-listing{
  width: 100%;
  background: $grey;
  margin: 1rem 0;
  @media screen and (max-width: 680px) {
    border: 2px solid $dkgreen;
    border-radius: 5px;
  }
>>>>>>> refs/remotes/origin/master
  th{
    padding: 3px;
    background: $dkgreen;
    color: $white;
    text-align: left;
    text-shadow: 2px 2px 2px black;
  }
  td{
    background: $grey;
    padding: 6px;
  }
}

.auction-headings{
    font-size: 1.3rem;
    border: 1px solid black;
    margin-bottom: 1rem;
<<<<<<< HEAD
}

.auction-item{
=======
     @media screen and (max-width: 680px) {
    display: none;
  }
}

.auction-item{

>>>>>>> refs/remotes/origin/master
}

.spacer td{
  height: 10px;
  background: $white;
} 

.storage-image img{
  width: 70px;
  height: auto;
<<<<<<< HEAD
=======
  @media screen and (max-width: 680px) {
    width: 100px;
  }
  @media screen and (max-width: 440px) {
    width: 70px;
  }
>>>>>>> refs/remotes/origin/master
}


.company-name h2{
  margin: 0;
  padding: 0;
<<<<<<< HEAD
=======
  @media screen and (max-width: 939px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: 680px) {
    font-size: 1.7rem;
  }
  @media screen and (max-width: 559px) {
    font-size: 1.5rem;
  }
>>>>>>> refs/remotes/origin/master
}

.address,
.city-state,
.date,
.time,
.units,
.details{
  font-size: 1.2rem;
<<<<<<< HEAD
=======
  @media screen and (max-width: 939px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 680px) {
    display: block;
    width: 300px;
    font-size: 1.4rem;
  }
  @media screen and (max-width: 559px) {
    width: 200px;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 440px) {
    width: 100%;
    font-size: 1.2rem;
  }
>>>>>>> refs/remotes/origin/master
}

.units{
  text-align: center;
<<<<<<< HEAD
=======
  @media screen and (max-width: 680px) {
    text-align: left;
  }
>>>>>>> refs/remotes/origin/master
}

/* ==========================================================================
   Calendar Page
   ========================================================================== */

.calendar-container{
  width: 960px;
  margin: 2rem auto;
  background: $white;
  padding: 0 0 4rem;
<<<<<<< HEAD
=======
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
>>>>>>> refs/remotes/origin/master
  h1{
    padding: 2rem 0 0 1rem;
    color: $dkgreen;
    font-size: 2rem;
  }
}


/* ==========================================================================
   Rules Page
   ========================================================================== */

.rules-container{
  width: 960px;
<<<<<<< HEAD
  margin: 2rem auto;
  background: $white;
  padding: 0 0 4rem;
=======
  margin: 2rem auto 0;
  background: $white;
  padding: 0 0 4rem;
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
>>>>>>> refs/remotes/origin/master
  h1{
    padding: 2rem 0 0 1rem;
    color: $dkgreen;
    font-size: 2rem;
  }
    p{
    padding: 0 2rem;
  }
}

#rules{
  padding: 2rem 2rem;

  h2{
    font-family: 'Signika', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: $dkgreen;
    margin-bottom: 1.7rem;
  }
  article{
    font-family: 'Signika', sans-serif;
    margin-top: -1.7rem;
    margin-bottom: 2rem;
  }
}


/* ==========================================================================
   About Page
   ========================================================================== */

.about-container{
  background: $grey;
  overflow: auto;
<<<<<<< HEAD
  width: 100%;
=======
  width: 90%;
  min-height: 90%; 
  margin: 0 auto;
>>>>>>> refs/remotes/origin/master
}

.mission-statement,
.about{
  width: 40%;
  height: 600px;
  float: left;
  margin: 4.5%;
  background-color: $white;
  border: 1px solid $dkgreen;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #000;
  text-align: center;
  padding: 1rem 2rem;
<<<<<<< HEAD
=======
  @media screen and (max-width: 768px) {
    width: 90%;
    height: auto;
    display: block;
    float: none;
  }
>>>>>>> refs/remotes/origin/master
}

